.title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  z-index: 2;
  background-color: white;
  box-shadow: 10px 5px 5px lightgray;
  padding: 20px;
  width: 100%;
}

.text {
  margin: 10px;
}

.button {
  box-shadow: 10px 5px 5px lightgray;
}

.title h1:hover {
 text-decoration: underline;
}