 .ScrollBox {
   /* width: 95vw; */
   /* height: 80vh; */
   /* border: solid black 2px; */
   overflow-y: scroll;
   overflow-x:hidden;
   position: fixed;
   top: 10%;
   z-index: 1;
   /* bottom: 0; */
 }

 .column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
 }

 .grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

