 .ScrollBox {
   width: 100vw;
   height: 90vh;
   border: solid black 2px;
   /* flex-direction: column;
   flex-wrap: nowrap;
   align-items: center; */
   overflow-y: scroll;
   overflow-x:hidden;
   position: fixed;
   bottom: 0;
 }

 .column {
   background-color: red;
   display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
 }

 .grid {
  display: flex;
   background-color: green;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .title {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 }