 .ScrollBox {
   width: 100vw;
   height: 80vh;
   border: solid black 2px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: center;
   overflow-y: scroll;
   overflow-x:hidden;
 }